* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark: #3d3b40;
  --blue: #525ceb;
  --light: #72abff;
  --blue-dark: #111764;
  --text-color: #f8edff;
}

body {
  padding-top: 4rem;
  padding-bottom: 2rem;
  gap: 1rem;
  background-color: var(--blue);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Segoe UI", sans-serif;
}

.my-photo {
  width: 10rem;
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: top;
  border: 5px solid #72abff;
}

.bg-text-animation {
  font-size: 6rem;
  padding-top: 5rem;
  position: absolute;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-text-stroke: 2px #72abff;
  -webkit-text-fill-color: transparent;
  z-index: -1;
  user-select: none;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

.sosmed i {
  font-size: 1.75rem;
  color: var(--light);
}

.sosmed i:hover {
  color: var(--text-color);
}

.sosmed a:not(:last-child) {
  margin-right: 1rem; /* 1Rem = 16px */
}

ul {
  width: 80%;
  max-width: 40rem;
}

ul li {
  list-style: none;
}

.links li:not(:last-child) {
  margin-bottom: 1rem;
}

.links {
  margin-top: 1rem;
}

.link-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light);
  padding: 1rem;
  border-radius: 20px;
  color: var(--text-color);
  box-shadow: 8px 10px 0 #111764;
  border: 2px solid #72abff;
}

.link-card:hover {
  border: 2px solid white;
}

.links li .link-icon {
  background-image: linear-gradient(to top, #525ceb, #111764);
  padding: 0.5rem;
  border-radius: 10px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links li .link-action {
  color: var(--blue-dark);
  cursor: pointer;
  padding: 10px;
}

.links li p {
  font-weight: bold;
}

.copyright {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--light);
  gap: 0.5rem;
}

.copyright img {
  width: 8rem;
}

#toast {
  width: max-content;
  position: fixed;
  top: 0;
}

.toast-container {
  background-color: white;
  margin-top: 1rem;
  color: var(--blue-dark);
  padding: 0.75rem;
  border-radius: 1rem;
  animation: muncul 300ms ease-in-out;
}

.toast-gone {
  animation: hilang 1s ease-in-out 1s;
}

@keyframes muncul {
  from {
    opacity: 0;
    transform: translateY(-4rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes hilang {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
